rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to reflections collection
    match /reflections/{signalId} {
      allow read, write: if true;
    }
    
    // Allow read/write access to responses collection
    match /responses/{responseId} {
      allow read, write: if true;
    }

  }
}

